{% if paragraph.field_team_content.value %}
<section class="ourTeam">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="aboutUsLeft">
					 {{paragraph.field_team_content.value|raw}}
					<a href="{{ paragraph.field_read_principle_link.uri }}" class="btnGrey me-2 mb-3">Read our principles</a>
					<a href="{{ paragraph.field_hiring_link.uri }}" class="btnImperial blueImp">We’re hiring!</a>
				</div>
			</div>

			<div class="col-md-6">
			 <div class="careerRight">

			 {% for item in paragraph.field_team_image %}
				{% if item.entity %}
					{% set media_entity = item.entity %}
					{% if media_entity.bundle() == 'image' %}
						{% if media_entity.hasField('field_media_image') %}
							{% set image_entity = media_entity.field_media_image.entity %}
							{% if image_entity %}
								<img src="{{ file_url(image_entity.uri.value) }}" alt="{{ media_entity.field_media_image.alt }}">
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}



        {# <img src="{{ paragraph.field_team_image.uri }}" alt="Team Image"> #}
    </div>

			</div>

		</div>
	</div>
</section>
{% endif %}